
 
h1  {
    color:blue;
}
h2 {
    background-color: rgb(150, 150, 240);
    color: black;
    text-align: center; 
}

img {
    width: 250px; 
    height: 250px;
    object-fit: cover;
}

ul {
    border:blue;
    
}

a {
    text-align: center;
}
.container {
  background-color: lightgray;
}

.card {
    padding: 30px, 20px, 30px, 20px;
    
}

.card-body {
    padding: 30px, 20px, 30px, 20px; 
    background: lightcyan; 
 
    
}